body {
    background: #bdf8ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 450px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 0 10px #999;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

.gender, .courses {
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: teal;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#msg {
    margin-top: 15px;
    font-weight: bold;
    color: red;
}
